$max-width: 1280px;
$font-size: 16px;
$body-color: #f1f1f1;

body {
    background-color: $body-color;
}

form > label {
    font-weight: 600;
}

.container {
    max-width: $max-width;
}

.main {
    display: flex;
    flex-flow: column wrap;
}

.container {
    flex: 1 1 100%;
}

.movies {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;

    &-sidebar {
        flex-basis: 300px;
        padding-right: 2em;
    }

    &-content {
        flex: 1;
    }
}


.movies-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;

    &:before {
        content: '';
        flex-basis: calc(100% / 3 - 1em);
        order: 99;
        display: inline-block;
    }
}

.movie {
    &-item {
        flex-basis: calc(100% / 3 - 1em);
        list-style: none;

        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 2em;
        background-color: #FFF;
        padding: 1em;
        border-radius: 4px;
        box-shadow: 0 4px 3px -6px #000;

        position: relative;
        transition: .2s ease;

        &.is-hidden {
            display: none;
        }
    }

    &-thumbnail {
        width: 100%;

        img {
            margin-bottom: -8px;
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &-rating {
        position: absolute;
        top: 1.5em;
        right: 1.5em;
        color: #4f4f4f;
        background: #FFF;
        border-radius: 4px;
        padding: .25em .25em .25em .75em;

        font-weight: 700;

        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 3px 3px -3px #000;

        span {
            font-size: 18px;
            margin-right: .75rem;
        }
    }

    &-recommendation {
        width: 1em;
        margin-right: .5em;
    }

    &-title {
        font-size: 1.5em;
        color: #111;
    }
    
    &-release-date {
        color: #999;
    }

    &-description {
        color: #333;
        line-height: 1.65;
    }
}


// Sidebar filter
.movies-filter {
    position: sticky;
    top: 2em;

    background: #FFF;
    border-radius: 4px;
    padding: 1.5em;
    box-shadow: 0 4px 3px -6px #000;

    &-genres {
        max-height: 16em;
        overflow-y: auto;

        input {
            display: inline-block;
            margin-bottom: 0;
            flex-basis: 1.5em;
        }

        label {
            flex: 1;
            display: inline-block;
            margin-bottom: 0;
        }
    }

    h4 {
        font-weight: 700;
        font-size: 1.125em;
        text-transform: uppercase;
    }

    input,
    select {
        width: 100%;
        padding: .5em 1em;
        border: 1px solid rgba(#333, .15);
        border-radius: 4px;

        &:focus {
            border-color: rgba(#333, .25);
            outline: none;
        }
    }

    .genre-row {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding-bottom: .5em;
    }
}